* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


header {
	height: 795px;
	width: 100%;
	background: rgb(0,0,0); 243,242,242
}



h1,h2,h3,h4,h5,h6{
	font-weight: normal;

}

h1 {
	font-size: 95em;
	font-family: didot;
	font-weight: bold;
	text-align: left;
	margin-bottom: 1px;
	color: rgb(255,255,255);
	position:fixed; left:-296px; top:-799px;
}

h3{
	font-size: 9em;
	font-family: Bodoni;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	font-variant-caps: small-caps;
	color: rgb(0,0,0);
	height: 770px;
	position: relative; 
	bottom: -300px;
	border: 20px solid black;


}

h4{
	font-size: 1.5em;
	font-family: Bodoni;
	font-weight: normal;
	font-variant-caps: small-caps;
	line-height: 25px;
	text-align: left;
	letter-spacing: 5px;
	color: rgb(255,255,255);
	border: 98px solid black;

}

h5{ 
	font-size: 2.2em;
	font-family: gotham;
	font-weight: normal;
	text-align: left;
	font-variant-caps: small-caps;
	color: rgb(255,255,255);
	line-height: 35px;
	border: 90px solid black;
}


h6{
	font-size: 1.1em;
	font-family: gotham;
	font-weight: normal;
	text-align: center;
	font-variant-caps: small-caps;
	line-height: 80px;
}





.confounding_tools {
	font-size: 1.2em;
	font-family: gotham;
	font-variant-caps: small-caps;
	font-weight: normal;
	text-align: right;
	color: rgb(255,255,255);
	position: fixed; right:60px; top:150px;

}
	
.parametrics_and_generation {
	font-size: 1.2em;
	font-family: gotham;
	font-variant-caps: small-caps;
	font-weight: normal;
	text-align: right;
	color: rgb(255,255,255);
	position: fixed; right:60px; top:250px;
}

.measuring_time {
	font-size: 1.2em;
	font-family: gotham;
	font-variant-caps: small-caps;
	font-weight: normal;
	text-align: right;
	color: rgb(255,255,255);
	position: fixed; right:60px; top:350px;
}

.discussion_posts {
	font-size: 1.2em;
	font-family: gotham;
	font-variant-caps: small-caps;
	font-weight: normal;
	text-align: right;
	color: rgb(255,255,255);
	position: fixed; right:60px; top:450px;
}



